.animal-img{
    width: 100%;
    height: 100%;
}

.animal-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--main-color);
    background-color: var(--second-color);
    
}
